<h1>Hola soy la pagina de contacto</h1>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt porro, beatae esse, itaque obcaecati, excepturi autem quae delectus ea error molestias. Doloremque quae a iure at atque perferendis deserunt voluptatibus.
</p>