<h1>Hola soy la pagina de productos</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ab quas minima molestiae, inventore similique consequatur! Voluptatibus, amet, officia tempore distinctio nihil aliquam omnis odio consequatur vel officiis debitis unde.
</p>